@use '../../variables' as variables;

.change-cover {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 36px;
    min-width: 405px;
    width: 80%;
    min-width: 200px;
    bottom: -29px;
    margin: 0 auto;
}

.cover-sort {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.change-view {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.cover-sort-wrapper {
    transition: transform 250ms ease-in-out;
    transform: translateX(0);
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    z-index: 100;
}

.dropdown-title {
    font-size: 18px;
    font-family: variables.$font-fam-main;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: right;
    color: variables.$dropdown-text-color;
    cursor: pointer;
}

.dropdown-icon{
    font-size: 11px;
    position: relative;
    top: -1px;
    display: inline;
    margin-left: 5px;
}

.dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    margin-top: -1px;
    z-index: 1000;
    right: -28px;
    padding-top: 8px;
}

.dropdown-list {
    border-radius: 6px;
    background-color: #53565d;
    box-shadow: 0 9px 25px 0 rgba(0,0,0,.78);
    padding-top: 5px;
    padding-bottom: 13px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.dropdown-option {
    box-sizing: border-box;
    color: variables.$theme;
    cursor: pointer;
    display: block;
    line-height: 2.14;
    letter-spacing: 1px;
    width: auto;
    padding-left: 18px;
    padding-right: 26px;
    text-align: left;
    white-space: nowrap;
}

.dropdown-option:hover {
    background-color: variables.$dropdown-option-hover-color;
}

.dropdown-triangle {
    color: variables.$theme;
    position: absolute;
    right: 22px;
    top: 0;
}

.change-appearance:hover {
    cursor: pointer;
}

.img {
    stroke: white;
}