@use '../../../variables' as variables;

.gallery-comments-list {
    position: relative;
    min-height: 385px;
}

.gallery-comment {
    margin-bottom: 16px;
    cursor: pointer;
    position: relative;
}

.gallery-comment-wrapper {
    width: 70%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}

.gallery-comment-wrapper:hover {
    background-color: #2d3b6c;
}

.gallery-comment-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
}

.gallery-comment-header {
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    color: variables.$theme;
    margin-bottom: 4px;
    display: flex;
}

.gallery-comment-avatar {
    width: 24px;
    margin-right: 8px;
    align-items: center;
    position: relative;
}

.gallery-comment-author-name {
    text-overflow: ellipsis;
    color: variables.$commentor-name-color;
    font-family: variables.$font-fam-main;
}

.comment-menu-space {
    margin-left: auto;
}

.gallery-comment-body {
    color: variables.$white;
}

.gallery-comment-actions {
    display: flex;
    margin: 4px 0 8px 0;
    align-items: center;
    color: variables.$theme;
    font-size: 12px;
    font-family: variables.$font-fam-main;
    line-height: 12px;
}

.gallery-comment-upvote, .gallery-comment-downvote {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    color: variables.$theme;
    outline: 0;
    cursor: pointer;
    padding: 5px;
    position: relative;
    min-height: 19px;
    border-radius: 3px;
    height: 26px;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.gallery-comment-upvote:hover, .gallery-comment-downvote:hover {
    background-color: variables.$reply-hover-color;
}

.gallery-comment-upvote:hover {
    svg {
        path {
            stroke: variables.$upvote-button-hover-color;
        }
    }
}

.gallery-comment-downvote:hover {
    svg {
        path {
            stroke: variables.$downvote-button-hover-color;
        }
    }
}

.load-more {
    min-height: 106px;
}

.load-more-container {
    display: flex;
    justify-content: center;
}

.load-more-button {
    width: 320px;
    height: 46px;
    position: relative;
    border: 2px solid variables.$load-more-button-color;
    border-radius: 3px;
    background-color: transparent;
    font-family: variables.$font-fam-main;
    font-size: 18px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    padding: 14px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
}

.load-more-button:hover {
    background-color: variables.$load-more-button-color;
}

.button-replies {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    color: variables.$theme;
    outline: 0;
    cursor: pointer;
    padding: 5px;
    position: relative;
    min-height: 19px;
    border-radius: 3px;
    height: 26px;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.gallery-reply {
    padding-left: 32px;
    padding-top: 12px;
}

.spinner {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}