@use '../../../variables' as variables;

.search-button {
    margin: auto 0;
    height: 36px;
    border: none;
    color: variables.$white;
    font-weight: bold;
    font-size: medium;
    padding: 0 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
    background: variables.$searchbar-background;
    cursor: pointer;
}

.search-bar {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    max-height: 36px;
    float: right;
    width: 100%;
    max-width: 550px;
    display: flex;
}

.search-bar-textinput {
    background: variables.$searchbar-background;
    border: 1px solid transparent;
    padding: 8px 35px 8px 10px;
    border-radius: 3px;
    width: 100%;
    outline: 0;
    opacity: .8;
    max-height: 36px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    color: variables.$white;
}

.search-bar-textinput::placeholder {
    color: variables.$white;
}
