@use '../../variables' as variables;

.gallery-content-wrapper {
    display: block;
    background-color: variables.$gallery-content-background-color;
    height: 100%; 
}

.gallery {
    width: 80%;
    max-width: 1216px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding-top: 24px;
    margin: 0 auto;
}