@use '../../variables' as variables;

.gallery-title {
    font-size: 28px;
    line-height: 130%;
    color: white;
    overflow-wrap: break-word;
    font-family: variables.$font-fam-main;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    span {
        min-width: 20px;
    }
}

.author-line {
    display: flex;
    justify-content: flex-start;
    height: 32px;
    margin: 16px 0 24px;
}

.author-info {
    display: flex;
    flex-direction: column;
    margin: 0 32px 0 12px;
    flex-grow: 1;
    justify-content: space-around;
    overflow: hidden;
}

.author-name {
    display: flex;
    color: variables.$author-name-color;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
    font-family: variables.$font-fam-main;
    align-items: center;
}

.author-meta {
    font-family: variables.$font-fam-main;
    color: variables.$theme;
    font-size: 12px;
    line-height: 12px;
    margin-top: 4px;
    span {
        margin-right: 8px;
    }
}