$theme : #b4b9c2;
$font-fam-main: "Proxima Nova Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
$header-background-url: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.f51d3f34235dea1b7cdd.png") no-repeat;
$button-green-color: #1bb76e;
$white: #fff;
$font-heading-family: "Proxima Nova ExtraBold","Helvetica Neue",Helvetica,Arial,sans-serif;
$button-purple-color: #6432f9;
$button-green-color-hover: #5bd49b;
$dropdown-text-color: #babec4;
$dropdown-option-hover-color: #898989;
$searchbar-background: rgba(255, 255, 255, .25);
$footer-background-color: #33353b;