@use '../../variables' as variables;

.header {
    width: 100%;
    padding-bottom: 76px;
    background: variables.$header-background-url;
    background-size: 100% 100%;
    margin: 0;
}

.navbar-container {
    display: flex;
    padding: 15px;
}

.navbar-container-left {
    min-width: 360px;
    display: inline-flex;
}

.navbar-container-left > Button {
    text-align: center;
    height: 35px;
    padding: 7px 14px 10px 9px;
    touch-action: manipulation;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    width: auto;
    background-color: variables.$button-green-color;
    box-shadow: 0 6px 10px 0 rgba(27,28,30,.31);
    color: variables.$white;
    white-space: nowrap;
    margin: auto 20px;
}

.navbar-container-center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.navbar-container-right {
    display: inline-flex;
    justify-content: flex-end;
    min-width: 280px;
    position: relative;
    button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.head-message {
    font-size: 24px;
    font-family: variables.$font-heading-family;
    letter-spacing: .6px;
    color: #aed8ea;
    text-align: center;
    margin-top: 12px;
    min-height: 34px;
    position: relative;
    font-weight: bold;
}

.navbar-button {
    margin: auto 0;
    height: 36px;
    border: none;
    color: variables.$white;
    font-weight: bold;
    font-size: medium;
    padding: 0 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.navbar-button:hover {
   cursor: pointer;
}

#ad-free-button {
    background-color: variables.$button-purple-color;
}

#sign-in-button {
    background-color: transparent;
}

#sign-up-button {
    background-color: variables.$button-green-color;
}

#new-post-button {
    display: inline-flex;
    justify-content: center;
    img {
        margin-right: 10px;
    }
}

#new-post-button:hover {
    background-color: variables.$button-green-color-hover;
}