.header {
    width: 100%;
    padding-bottom: 76px;
    background: url(https://s.imgur.com/desktop-assets/desktop-assets/homebg.f51d3f34235dea1b7cdd.png) no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

.navbar-container {
    display: flex;
    padding: 15px;
}

.navbar-container-left {
    min-width: 360px;
    display: inline-flex;
}

.navbar-container-left > Button {
    text-align: center;
    height: 35px;
    padding: 7px 14px 10px 9px;
    touch-action: manipulation;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    width: auto;
    background-color: #1bb76e;
    box-shadow: 0 6px 10px 0 rgba(27,28,30,.31);
    color: #fff;
    white-space: nowrap;
    margin: auto 20px;
}

.navbar-container-center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.navbar-container-right {
    display: inline-flex;
    justify-content: flex-end;
    min-width: 280px;
    position: relative;
}

.head-message {
    font-size: 24px;
    font-family: "Proxima Nova ExtraBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: .6px;
    color: #aed8ea;
    text-align: center;
    margin-top: 12px;
    min-height: 34px;
    position: relative;
    font-weight: bold;
}

.navbar-button {
    margin: auto 0;
    height: 36px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 0 10px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.navbar-button:hover {
   cursor: pointer;
}

#ad-free-button {
    background-color: #6432f9;
}

#sign-in-button {
    background-color: transparent;
}

#sign-up-button {
    background-color: #1bb76e;
}

#new-post-button {
    display: inline-flex;
    justify-content: center;
}

#new-post-button > img {
    margin-right: 10px;
}

#new-post-button:hover {
    background-color: #5bd49b ;
}

.navbar-container-right > button {
    margin-left: 5px;
    margin-right: 5px;
}