@use '../../../variables' as variables;

.tags-bar {
    height: 31px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 31px;
    align-items: center;
    /* opacity: .7; */
    font-size: 18px;
    font-family: variables.$font-fam-main;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: left;
    color: variables.$white;
}

.tags-bar > span {
    color: variables.$dropdown-text-color;
    font-weight: bold;
    margin: 0 100px;
}